In [1]:
total =100
print("The total is",total)

The total is 100

In [3]:
total=total|+99
print("The total is now", total)

The total is now 103

In [4]:
total =total -1
print("The total is", total)

The total is 102

In [5]:
total = total *4
print("The total is", total)

The total is 408

In [6]:
total = total/2
print("The total is", total)

The total is 204.0

In [7]:
total = 98.2
count =5
average = total/count
print("The average is",average)

The average is 19.64

In [17]:
type(False)

bool

In [18]:
type(1000)

int

In [12]:
type(100.111)

float

In [13]:
type("Hello")

str

In [14]:
type(True)

bool

In [15]:
type(100/5)

float

In [16]:
type(100//5)

int

In [19]:
"ABC" * 10

'ABCABCABCABCABCABCABCABCABCABC'

In [22]:
name=input("Enter your name:")
address=input("Enter your address:")
contact=int(input("Enter your contact number:"))
print(f"Your name is {name}.")
print(f"Your address is {address}.")
print(f"Your contact no is {contact}.")
print("The length of your name is ", len(name))

Enter your name: Sabina Sangraula
Enter your address: dhapakhel
Enter your contact number: 9829179921

Your name is Sabina Sangraula.
Your address is dhapakhel.
Your contact no is 9829179921.
The length of your name is  16

In [23]:
age = input("Enter your age")
print(" in one year your age will be", age+1)

Enter your age 2

TypeError: can only concatenate str (not "int") to str

In [24]:
age = int(input("Enter your age"))
print(" in one year your age will be", age+1)

Enter your age 2

 in one year your age will be 3

In [25]:
no1=float(input("Enter your first numeric value:"))
no2=float(input("Enter your second numeric value:"))
print("The product value of these two number is", no1*no2)

Enter your first numeric value: 2
Enter your second numeric value: 3

The product value of these two number is 6.0

In [27]:
comment = "I would have "thought" you knew better!"
print(comment)

SyntaxError: invalid syntax (1086711893.py, line 1)

In [28]:
comment = 'I would have "thought" you knew better!'
print(comment)

I would have "thought" you knew better!

In [29]:
print("This text includes characters such as '\\' '\"' and \"'\",")
print("This is a new line that starts with a tab")
print("\tThis new line starts with two tabs")

This text includes characters such as '\' '"' and "'",
This is a new line that starts with a tab
	This new line starts with two tabs

In [30]:
print("\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\")
print("Hello there!")
print("\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\")

\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Hello there!
\\\\\\\\\\\\\\\\\\\\\\\\\\\\

In [31]:
print("""This text spans three lines,
and includes both single ('), 
and double quotes (").""")

This text spans three lines,
and includes both single ('),
and double quotes (").

In [32]:
surname = "Smith"  
if len(surname) > 2:
    third_letter = surname[2] 
    print(f"The third letter of the surname is: {third_letter}")
else:
    print("Error: The surname is too short to access the third letter.")

The third letter of the surname is: i